$black: #101010;
$gray: #f2f2f2;
$white: #fff;

* {
  margin: 0;
  outline-style: none;
  outline: none;
  user-select: none;
  box-sizing: border-box;
}

#blockMain {
  width: 100vw;
  height: 100vh;
  background-color: $black;
}

#blockCreateNewUser {
  width: 75%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 2px 8px 1px rgba(255,255,255,0.25);

  &:focus-within {
    border: 1px solid $white;
  }
}

.tdNewUser, #btnAddNewUser {
  height: 6vh;
  text-align: center;
  border: none;
  color: $black
}